<% provide(:title, 'Pagina Acerca de') %>

		<h1>Acerca de</h1>
		<p>
		Esta es la página de inicio de la aplicacion desarrollada por el curso de Ruby on Rails de la <a href="http://www.ute.edu.ec/index.aspx?idSeccion=33&idCategoria=99&idPortal=1">Universidad Tecnologica Equinoccial
		Sample App</a>
		</p>
	
